# Git
.git
.gitignore

# Vercel
.vercelignore
vercel.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg

# Other
temp_image.jpg
README.md