body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f7f6;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.image-upload-container {
    margin-bottom: 2rem;
}

.image-container {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    position: relative; /* This is key for positioning the image */
    background-color: #f9f9f9;
}

.upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.upload-label img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#processed-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the image */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.file-types {
    font-size: 0.9rem;
    color: #999;
    display: block;
}

.hidden {
    display: none;
}

.loading-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 1rem 0;
}

.loading-bar {
    width: 0%;
    height: 24px;
    background-color: #76c7c0;
    border-radius: 4px;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #3498db;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#download-button {
    background-color: #2ecc71;
}

#download-button:hover {
    background-color: #27ae60;
}